@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

$pinkColor: rgb(255, 0, 200);
$orangeColor: rgb(247, 138, 4);
$lightColor: whitesmoke;
$greyColor: grey;

.formcontainer {
  background: linear-gradient(to right, $pinkColor, $orangeColor);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formwrapper {
    background-color: $lightColor;
    box-shadow: 10px 10px 25px $lightColor;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .logo {
      color: $pinkColor;
      font-size: 24px;
      font-weight: bold;
      @include tablet {
        display: none;
      }
    }

    .img-logo {
      width: 100px;
      height: 100px;
    }

    .title {
      color: $pinkColor;
      font-size: 16px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      color: $greyColor;

      input {
        padding: 15px;
        width: 250px;
        border: none;
        border-radius: 5px;
        background-color: $lightColor;
        border-bottom: 1px solid $pinkColor;
        color: $greyColor;
        &::placeholder {
          color: $greyColor;
        }
      }
      button {
        background: linear-gradient(to left, $pinkColor, $orangeColor);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: $lightColor;
        font-weight: bold;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $greyColor;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
    p {
      color: $greyColor;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  background: linear-gradient(to right, $pinkColor, $orangeColor);
  box-shadow: 10px 10px 25px $lightColor;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: solid 2px $lightColor;
    border-radius: 5px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    box-shadow: 10px 10px 25px $lightColor;
    @include tablet {
      width: 90%;
    }

    .sidebar {
      flex: 1;
      color: $lightColor;
      background-color: $orangeColor;
      border-right: 2px solid $lightColor;
      position: relative;

      .search {
        border-top: 2px solid $lightColor;
        border-bottom: 2px solid $lightColor;

        .searchform {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: $lightColor;
            outline: none;
          }
          ::placeholder {
            color: $lightColor;
          }
        }

        .userchat {
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: $lightColor;
          cursor: pointer;

          &:hover {
            background-color: orange;
          }

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          .userchatinfo {
            span {
              font-size: 18px;
              font-weight: bold;
            }

            p {
              font-size: 14px;
              color: $lightColor;
            }
          }
        }
      }
    }
    .navbar {
      display: flex;
      align-items: center;
      background-color: orange;
      height: 50px;
      padding: 10px;
      justify-content: space-between;

      .img-logo {
        height: 30px;
        width: 30px;
      }

      .logo {
        padding: 10px;
        color: $lightColor;
        font-weight: bold;
        @include tablet {
          display: none;
        }
      }

      .user {
        display: flex;
        gap: 10px;

        img {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        button {
          background-color: $pinkColor;
          border: none;
          border-radius: 5px;
          padding: 10px;
          color: $lightColor;
          font-size: 10px;
          cursor: pointer;
          @include tablet {
            position: absolute;
            bottom: 10px;
          }
        }
      }
    }

    .chat {
      flex: 2;
      color: $lightColor;

      .chatinfo {
        height: 50px;
        background-color: $pinkColor;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: $lightColor;
      }

      .chaticons {
        display: flex;
        gap: 10px;

        img {
          height: 24px;
          padding: 5px;
          cursor: pointer;
        }
      }

      .messages {
        background-color: $lightColor;
        color: $greyColor;
        padding: 10px;
        height: calc(100% - 160px);
        overflow: scroll;

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageinfo {
            display: flex;
            flex-direction: column;
            color: $greyColor;
            font-weight: 300;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .messagecontent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: sandybrown;
              color: $greyColor;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }
            img {
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messagecontent {
              align-items: flex-end;

              p {
                background-color: pink;
                color: $greyColor;
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }

      .input {
        height: 50px;
        background-color: $pinkColor;
        color: $lightColor;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 100%;
          border: none;
          outline: none;
          color: $lightColor;
          border-radius: 5px;
          font-size: 16px;
          padding: 5px;

          &::placeholder {
            color: lightgray;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 24px;
            width: 24px;
            cursor: pointer;
          }

          button {
            border: none;
            padding: 10px;
            border-radius: 5px;
            color: orange;
            font-weight: bold;
          }
        }
      }
    }
  }
}
