.formcontainer {
  background: linear-gradient(to right, rgb(255, 0, 200), rgb(247, 138, 4));
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formwrapper {
    background-color: whitesmoke;
    box-shadow: 10px 10px 25px rgb(208, 205, 205);
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .logo {
      color: rgb(255, 0, 200);
      font-size: 24px;
      font-weight: bold;
    }
    .img-logo {
      width: 100px;
      height: 100px;
    }

    .title {
      color: rgb(255, 0, 200);
      font-size: 16px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        width: 250px;
        border: none;
        border-radius: 5px;
        background-color: whitesmoke;
        border-bottom: 1px solid rgb(255, 0, 200);
        &::placeholder {
          color: grey;
        }
      }
      button {
        background: linear-gradient(
          to left,
          rgb(255, 0, 200),
          rgb(247, 138, 4)
        );
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: whitesmoke;
        font-weight: bold;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: grey;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
    p {
      color: grey;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
